# Python
__pycache__/
*.py[cod]
.pytest_cache/
venv/
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos sensíveis
.env
*.pem
*.key

# Kubernetes
kubeconfig